aws_region                = "ap-northeast-2"
eks_public_access_cidrs   = ["203.0.113.10/32"]
private_eks_subnet_cidrs  = ["10.20.10.0/24", "10.20.11.0/24"]
private_db_subnet_cidrs   = ["10.20.20.0/24", "10.20.21.0/24"]
parameter_store_prefix    = "/skyline-system-demo/demo"
db_name                   = "skylineapp"
db_username               = "skylineadmin"
persistent_state_bucket   = "skyline-terraform"
persistent_state_key      = "skyline-infra-terraform/persistent/terraform.tfstate"
persistent_state_region   = "ap-northeast-2"
